
#baseElement td:hover 
{
    background-color: aquamarine;
}

.ZenithListBoxLabel_Selected
{
	background-color: palevioletred;
}

.ZenithListBoxLabel_Unselected
{
	background-color: royalblue;
}

.ZenithListBoxTable
{
	background-color: lightgray;
}